/* 
Here are some custom CSS Styles that are currently being used by the application
You can change / add any elements here
*/


.title-area {
    padding-top: 30px;
    padding-bottom: 10px;
}

.page-title {
  font-size: 1.8em;
}

.mt0 {
  margin-top: 0px
}
.mb0 {
  margin-bottom: 0px
}
.mt10 {
  margin-top: 10px
}
.mb10 {
  margin-bottom: 10px
}
.m20 {
  margin-bottom: 20px;
  margin-top: 20px;
}


.home-container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#type-it-text {
  min-height: 200px;
}


/* Filters to change SVG Icons to Theme Colors */
/* Using the magic of: https://codepen.io/sosuke/pen/Pjoqqp */
.icon-filter {
  filter: invert(18%) sepia(46%) saturate(418%) hue-rotate(163deg) brightness(94%) contrast(94%);
}

.dark-mode .icon-filter {
  filter: invert(99%) sepia(88%) saturate(30%) hue-rotate(178deg) brightness(113%) contrast(91%);
}

/* Minor change to work with Flexbox grid */
.main-content .container,
.main-content .container-fluid {
  max-width: 1000px;
}


/* Page Transitions - 0.4s Slide/Fade */
.page-enter-active,
.page-leave-active {
  transition-duration: 0.4s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.page-enter {
  opacity: 0;
  transform: translate(2em, 0);
}

.page-leave-active {
  opacity: 0;
  transform: translate(-2em, 0);
}
